/** complexDate */
fieldset[data-testid="field-date"] > *:first-child {
	display: none !important;
}
fieldset[data-testid="field-date"] > *:last-child {
	border: 1px solid var(--card-border-color);
	padding: 0.75rem !important;
	padding-top: 0.25rem !important;
}
fieldset[data-testid="field-date"] div[data-testid="field-date.dateFormat"] {
	margin-top: -0.5rem;
}

/** portableText */
.pt-text-block[dir="rtl"] [data-testid="change-bar-wrapper"] {
	--change-bar-offset: -4px !important;
}
.pt-text-block-style-h2.pt-list-item [data-list-prefix] {
	margin-top: 0.5rem;
}
.pt-text-block-style-hidden.pt-list-item [data-list-prefix] {
	margin-top: 0.75rem;
	font-size: 0.8125rem;
	color: var(--card-code-fg-color);
}
.pt-text-block-style-note.pt-list-item [data-list-prefix] {
	margin-top: 0.1rem;
	font-size: 0.8125rem;
	color: var(--card-muted-fg-color);
}
.pt-list-item.pt-list-item-level-1 [data-testid="text-block__text"][data-list-item] > *:first-child {
	padding: 0 !important;
	padding-inline-start: calc(32px * 1) !important;
}
.pt-list-item.pt-list-item-level-2 [data-testid="text-block__text"][data-list-item] > *:first-child {
	padding: 0 !important;
	padding-inline-start: calc(32px * 2) !important;
}
.pt-list-item.pt-list-item-level-3 [data-testid="text-block__text"][data-list-item] > *:first-child {
	padding: 0 !important;
	padding-inline-start: calc(32px * 3) !important;
}
.pt-list-item.pt-list-item-level-4 [data-testid="text-block__text"][data-list-item] > *:first-child {
	padding: 0 !important;
	padding-inline-start: calc(32px * 4) !important;
}
.pt-list-item.pt-list-item-level-5 [data-testid="text-block__text"][data-list-item] > *:first-child {
	padding: 0 !important;
	padding-inline-start: calc(32px * 5) !important;
}
.pt-list-item.pt-list-item-level-6 [data-testid="text-block__text"][data-list-item] > *:first-child {
	padding: 0 !important;
	padding-inline-start: calc(32px * 6) !important;
}
.pt-list-item.pt-list-item-level-7 [data-testid="text-block__text"][data-list-item] > *:first-child {
	padding: 0 !important;
	padding-inline-start: calc(32px * 7) !important;
}
.pt-list-item.pt-list-item-level-8 [data-testid="text-block__text"][data-list-item] > *:first-child {
	padding: 0 !important;
	padding-inline-start: calc(32px * 8) !important;
}
.pt-list-item.pt-list-item-level-9 [data-testid="text-block__text"][data-list-item] > *:first-child {
	padding: 0 !important;
	padding-inline-start: calc(32px * 9) !important;
}
.pt-list-item.pt-list-item-level-10 [data-testid="text-block__text"][data-list-item] > *:first-child {
	padding: 0 !important;
	padding-inline-start: calc(32px * 10) !important;
}
.pt-list-item [data-list-prefix] {
	margin-left: 0 !important;
	margin-inline-start: -4.5rem !important;
	text-align: end !important;
}
.pt-object-block [data-testid="pte-block-object"][data-image-preview] {
	padding: 0.25rem !important;
}

/** page */
/* fieldset[data-testid="field-page"] > div:nth-child(1) {
	display: none !important;
}
fieldset[data-testid="field-page"] > div:nth-child(2) {
	margin: 0 !important;
	padding: 0 !important;
	border: unset !important;
} */